.container {
  display: flex;
}
.textAria {
  color: white;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 100px;
  font-size: 100px;
}
.card {
  display: flex;
  justify-content: center;
  gap: 145px;
  padding-top: 200px;
}
